<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.ajare_v2">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherapp_foreground"
        android:label="Novigrad"
        android:roundIcon="@mipmap/ic_launcherapp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ServiceApply"></activity>
        <activity
            android:name=".Get_Information_Activity"
            android:label="@string/title_activity_get__information_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SuccursaleConnect" />
        <activity android:name=".SuccursaleUI" />
        <activity android:name=".SuccursaleCreate" />
        <activity android:name=".Client_Service" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main_Nav" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".ConnexionActivity" />
        <activity android:name=".CreateActivity" />
        <activity android:name=".EmailActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".EmployeeActivity" />
        <activity android:name=".WIPActivity" />
        <activity android:name=".NewUserActivity" />
        <activity android:name=".ManageAccActivity" />
        <activity
            android:name=".Search"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".ManageServActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Schedule"
            android:theme="@style/AppTheme.CustomTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>