<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ajare_v2"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherapp_foreground"
        android:label="Novigrad"
        android:roundIcon="@mipmap/ic_launcherapp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main_Nav"></activity>
        <activity android:name=".AdminActivity" />
        <activity android:name=".ConnexionActivity" />
        <activity android:name=".CreateActivity" />
        <activity android:name=".EmailActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".EmployeeActivity" />
        <activity android:name=".WIPActivity" />
        <activity android:name=".NewUserActivity" />
        <activity android:name=".ManageAccActivity" />
        <activity android:name=".ManageServActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>